<% if user_signed_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DRS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to 'Error Messages', root_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><%= current_user.email %></a></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      </ul>
    </div>
  </div>
</nav>
<% end %>
