<div class="row">
  <div class="col-lg-1">
    <p class="help-block">&nbsp;</p>
    <%= link_to 'Clear', root_path, class: 'btn btn-default btn-lg' %>
  </div>
  <div class="col-lg-11">
    <%= form_tag root_path, :method => 'get', class: 'form-inline' do %>
      <div class="form-group form-group-lg">
        <p class="help-block">&nbsp;</p>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search...' %>
      </div>
      <div class="form-group form-group-lg">
        <p class="help-block"><em>Date Range</em></p>
        <%= text_field_tag :daterange, params[:daterange], class: 'form-control' %>
      </div>
      <div class="form-group form-group-lg">
        <p class="help-block">&nbsp;</p>
        <%= submit_tag "Go!", :name => nil, class: 'btn btn-default btn-lg' %>
      </div>
    <% end %>
  </div>
</div>
