<div class="row">
  <div class="col-lg-12">
    <h1>Error Messages <small>(<%= @error_messages.count %>)</small></h1>
    <hr />
    <%= render 'search' %>
    <hr />
    <table class="table table-hover">
      <thead>
        <tr>
          <th width="200">Player</th>
          <th width="150">Line Number</th>
          <th>Message</th>
          <th width="200">Occured On</th>
        </tr>
      </thead>
      <tbody>
        <% if @error_messages.present? %>
          <% @error_messages.each do |em| %>
            <tr data-message-id="<%= em.id %>">
              <td>
                <span class="label label-primary"><%= em.device_info.try(:device_id) %></span>
              </td>
              <td>
                <span class="label label-danger"><%= em.line_number %></span>
              </td>
              <td>
                <%= truncate(em.error_message, length: 220) %>
              </td>
              <td>
                <span class="label label-warning"><%= em.created_at.localtime.strftime('%a %m.%d.%y @ %l:%M %p') %></span>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">
              No Error Messages
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @error_messages.present? %>
      <%= paginate @error_messages %>
    <% end %>
  </div>
</div>
