<div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel login-panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Log in</h3>
			 	</div>
		  	<div class="panel-body">
          <h1 class="login-title">Error Catcha</h1>
          <hr />
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <fieldset>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control input-lg' %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control input-lg' %>
            </div>


              <%= f.submit "Log in", class: 'btn btn-lg btn-info btn-block' %>
            <fieldset>
          <% end %>
		    </div>
			</div>
		</div>
	</div>
</div>

<% render "devise/shared/links" %>
