<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{#if device_info.device_id}}
        <h4 class="modal-title" id="exampleModalLabel">Player: {{ device_info.device_id }}</h4>
      {{/if}}
      <p>
        <strong>Occured on</strong> {{ created_at }}
      </p>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3 class="panel-title">Error Message</h3>
              <br />
              {{#if line_number}}
                <span class="label label-default">Line Number: {{ line_number }}</span>
              {{/if}}
              {{#if device_info.store_id}}
                <span class="label label-default">Store ID: {{ device_info.store_id }}</span>
              {{/if}}
              {{#if _id.$oid}}
                <span class="label label-info">ID: {{ _id.$oid }}</span>
              {{/if}}
              {{#if device_info.content_set_id}}
                <span class="label label-success">Content Set ID: {{ device_info.content_set_id }}</span>
              {{/if}}
              {{#if device_info.content_set_version_id}}
                <span class="label label-danger">Content Set Version ID: {{ device_info.content_set_version_id }}</span>
              {{/if}}
              {{#if device_info.env}}
                <span class="label label-warning">Env: {{ device_info.env }}</span>
              {{/if}}
              {{#if device_info.session_id}}
                <span class="label label-default">Session ID: {{ device_info.session_id }}</span>
              {{/if}}
              {{#if device_info.video_name}}
                <span class="label label-primary">Video Name: {{ device_info.video_name }}</span>
              {{/if}}
            </div>
            <div class="panel-footer">
              <code>
                {{ error_message }}
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
