// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.label {
  display: inline-block;
}

code {
  word-wrap: break-word;
}

.alert {
  position: absolute;
  z-index: 999999;
  width: 100%;
  top: 0;
  border-radius:0;
  text-align: center;
}

.login-panel {
  margin-top: 30%;
}

.login-title {
  text-align: center;
}
