<!DOCTYPE html>
<html>
<head>
  <title>ErrorCatcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/menu' %>
  <% if notice.present? %>
    <div class="alert alert-warning" role="alert"><%= notice %></div>
  <% end %>
  <% if alert.present? %>
    <div class="alert alert-info" role="alert"><%= alert %></div>
  <% end %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"></div>
</body>
</html>
